.navbar {
   background-color: #088A08;
   
}
.quem-somos{
    background-color:#D0F5A9;
    color: #0B2161;
}
.margin {
    
    padding-bottom: 50px;

}

.parceiros {

    background-color: #2E9AFE;
}

.bg-footer{
    background-color: slategray;
    color: snow;
}